:root {
}
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  background-color: white;
  scrollbar-width: none;
  overflow-x: hidden;
}
#playerTot {
  width: 100%;
}
body {
  color: #333333;
  margin: 0;
  font-family: Poppins;
  // overflow-x: hidden;
  user-select: none;
  .linear-button {
    height: 48px;
    cursor: pointer;
    display: flex;
    padding: 6px 20px;
    text-align: center;
    font-family: Poppins;
    font-size: 31px;
    font-weight: 700;
    line-height: 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: radial-gradient(133.19% 167.98% at 74.04% 140.41%, #faa 0%, #640aff 100%);

    &:hover {
      box-shadow: 0px 2px 19.1px 0px #640aff;
      opacity: 0.9;
    }
  }

  .flex-items-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-items-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex-inline-between {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }

  @font-face {
    font-family: Poppins;
    src: url('~/assets/font/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Poppins-Bold';
    src: url('~/assets/font/Poppins-SemiBold.ttf');
    font-weight: 400;
    font-style: normal;
  }
}
.animate-in {
  opacity: 0;
  // transform: translateY(50px);
  animation: slideIn 0.6s ease forwards;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
a {
  cursor: pointer;
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: orange;
}

img {
  object-fit: contain;
}

html,
body,
#__nuxt {
  height: 100%;
}

#app {
  position: relative;
  min-height: 100%;
  > .page {
    margin: 0 auto;
  }
}
